@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&display=swap');
.product{
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: space-evenly !important;
    margin-bottom:100px ;


}
.photo {
    display: flex!important;
    padding-top: 40px;
    border-radius: 10px;


}
.text{
    width: 100%;
    color: black;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;

}

.textName{
    display: flex;
    flex-direction: column;
    font-weight: 600 !important;
    width: 70%;
    font-size: 30px;
    letter-spacing: 1.3px;
    margin-bottom: 20px;

}
.titleText{

    font-weight: 600 !important;
    font-size: 30px;
    letter-spacing: 1.3px;
    margin-bottom: 20px;
}
.newProductText{
     color: #d5865c;
     font-weight: 100;
     letter-spacing: 10px;
     font-size: 10px;
     padding-bottom: 10px;

 }
.textDesc{
    font-weight: 300;
    line-height: 1.6;
    width: 70%;
    margin-bottom: 50px;
    text-align:left;
    font-size: 14px;
    color: #969696;

}

.orangeButton{
    width: 70%;
    display: flex;

}
.button{
    height: 40px;
    width: 150px;
    background: #D97C49;
    color: white;
    border-radius: 0;
}
@media only screen and (max-width: 900px) {
    .photo{
        display: flex !important;
        justify-content: center!important;
    }

    .text {
        display: flex !important;
        align-items: center !important;
        padding-top: 50px;

    }
    .textName{
        display: flex!important;
        justify-content:center !important;

    }
    .textDesc{
        display: flex!important;
        justify-content:center !important;

    }

}

.singleProduct{
    margin-bottom: 100px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex !important; ;
    justify-content: center !important;
    text-align: center !important;


}
.singlePhoto{
    display: flex;
    justify-content: center;
    text-align: start;
}
.singleText{
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content:center!important;
    color: black;

}