.button{
    width: 140px;
    height: 40px;
    color: white;
    border-radius: 0;
}
.buttonText{
    letter-spacing: 1px;
    font-size: 10px;
}
.pieceButtonGrid{
    display: flex;
    width: 100%;
}
.pieceButtonGridPay{
    display: flex;
    justify-content: center;
}
.buttonPay{
    width: 100%;
    color: white;
    border-radius: 0;
    height: 45px;
}