.button{
    border: 1px solid black !important;
    color: white;
    border-radius: 0;
}
.pieceButtonGrid{
    display: flex;
    width: 100%;
}
.pieceButtonGridPay{
    display: flex;
    justify-content: center;
}
.buttonPay{
    width: 100%;
    color: white;
    border-radius: 0;
    height: 50px;
}