.backButton{
    width: 90% !important;
}
.button{
    color: black !important;
    padding-left: 0 !important;
    font-weight: 200 !important;
    font-size: 13px !important;
    text-transform: none !important;
}

.button:hover{
    background: none !important;
}