.also{
    margin-top:100px ;
    width: 100% !important;
    height: 100%;
    display: flex !important;
    justify-content: center !important;
}
.alsoTitle{
    letter-spacing: 1.3px;
    font-size: 18px;
    display: flex !important;
    justify-content: center !important;
}
.alsoCardGrid{
    width: 100%;
    display: flex !important;
    justify-content:space-between !important;
}
.text{
    background: #F5F5F7 !important;
}
.button{
    color:black !important;
}
.alsoCard{
    width: 100%;
    margin-bottom: 20px;
}