.lineGrid{
    width: 90%;
    display: flex;
    justify-content: start;
}.line{
    width: 70px;
    border: 2px solid #D97C49;
    display: flex;
    justify-content: start;
}
.footer{
    width: 90% !important;
    height: 300px;
    display: flex;
    background: black;
    align-content: space-around;
    color: #fafafa;
}

.productsContainer{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.productsTypogTitle{
    letter-spacing: 1.3px;
    font-weight: 600;
    font-size: 20px;
}

.productsName{
    display: flex;
    justify-content: space-between;
}

.productsNameItem{
    letter-spacing: 1.3px !important;
    font-size: 11px !important;
    font-weight: 400!important;
}

.descGrid{
    display: flex;
    flex-direction: column !important;
    align-content: space-between!important;
    justify-content: center !important;

}
.descTypog{
    color: gray;
    font-size: 14px !important;

}
.descTypog2{
    color: gray;
    font-size: 14px !important;
    margin-top :50px ;
    padding-bottom: 40px;
}

.socialMedia{
    padding-bottom:80px ;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 20px;
}


@media only screen and (max-width: 600px){
    .lineGrid{
        justify-content: center;
    }
    .productsContainer{
        height: 100px;
    }
    .footer{
        height: 350px;
    }
    .productsContainer{
        display: flex;
        align-content:space-between ;
    }
.socialMedia{
    justify-content: center;
}
    .productsName{
        flex-direction: column;
        align-items: center;
    }
    .productsTitle{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .typographyName{
        margin-bottom: 20px;
    }
    .descGrid{
        display: flex;
        justify-content: center;
    }
    .descTypog{
        margin-bottom: 20px;
        text-align: center;
    }
 .descTypog2{
        text-align: center;
    }
 .productsNameItem{
     padding-bottom: 10px;
 }

}

@media only screen and (max-width: 900px)and (min-width: 600px) {

    .footer{
        margin-top:40px ;
        height: 400px;
    }

  .socialMedia{
      padding-bottom:80px ;
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: 20px;    }

    .productsTitle{
        margin-bottom: 20px;
    }
    .typographyName{
        margin-bottom: 20px;
    }
    .productsNameItem{
        padding-bottom: 10px;
    }

}