.shop{
    margin-top:100px ;
    width: 90% !important;
    height: 100%;
    display: flex;
    justify-content: space-between !important;
}
.text{
    background: #F5F5F7;
}
.button{
    color:black;
}
.shopCard{
    margin-bottom: 20px;
}