.card{
    background: #F5F5F7 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none !important;
}

.button{
    width: 100px;
    color: gray !important;
    display: flex;
    justify-content: space-evenly !important;
    text-align: center;
    align-content: space-evenly !important;
}
.icon{
    margin-bottom: 4px !important;
}

.image{

}