.card{
    background: #F5F5F7 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    box-shadow: none !important;
    padding-bottom: 20px;
}
.title{
    font-size: 18px !important;
    letter-spacing: 1px !important;
}
.button{
    width: 90px;
    color: gray !important;
    display: flex;
    justify-content: space-evenly !important;
    text-align: center;
    align-content: space-evenly !important;
}
.buttontext{
    font-size: 12px !important;
    letter-spacing: 1.2px !important;
}
.icon{
    font-weight: bold!important;
    font-size: 11px !important;
    margin-bottom: 2px !important;
}

.image{

}