.card{
    background: #F5F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.button{
    width: 100px;
    color: gray;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-content: space-evenly;
}
.icon{
    margin-bottom: 4px;


}

.image{

}