.payForm{
    flex-direction: column !important;
    width: 90% !important;
    display: flex !important;
    justify-content: space-between !important;
    margin-top: 5%;
    margin-bottom: 8%;

}

.container{
    display: flex;
    justify-content: space-between;
    color: black;

}
.backButton{
    margin-bottom: 20px;
}