.promation{
    width: 90%;
    height: 100%;
}
.text{
    display: flex;
    /*align-items: center;*/
    /*justify-content: space-around;*/
    flex-direction: column;

}
.textName{
    padding-bottom: 80px;
    width:80%;
    font-size: 40px;
}

.textDesc{
    padding-bottom: 100px;
    width:80%;
}


@media only screen and (max-width: 900px) {
  .promation{
      width: 92%;
  }
    .text {
    position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }


}