.promation{
    width: 90% !important;
}
.text{
    display: flex;
    flex-direction: column !important;
}
.newProductText{
    color: gray;
    font-weight: 100  !important;
    letter-spacing: 10px  !important;
    font-size: 10px  !important;
    padding-bottom: 10px  !important;

}
.textName{
    padding-bottom: 25px;
    width:80%;
    font-size: 40px;
}

.textDesc{
    color: #969696;
    padding-bottom: 40px;
    width:70%;
    font-size: 14px;

}


@media only screen and (max-width: 900px) {
  .promation{
      width: 92%;
  }
    .text {
    position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }


}