.navbarDiv{
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(29,27,27,1) 31%, rgba(0,0,0,1) 47%);
    display: flex;
    justify-content: center
}
.navbar{
    /*padding-top: 20px;*/
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.01px #5b5959;
    width: 90%;
}
.logo{
    letter-spacing: 1.3px;
    font-weight: 600;
    font-size: 18px;
}
.itemGrid{
    display: flex;
    justify-content: space-between;
}
.navbarItem{
    letter-spacing: 1.3px;
    font-size: 11px;

}
.shoppingCard{
    display: flex;
    justify-content: end;
    font-size:18px;
}
.navbarGrid{
    /*width: 100%;*/
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
}

@media only screen and (max-width: 900px) {
    .shoppingCard{
        display: flex;
        justify-content: end;
    }

}
@media only screen and (max-width: 600px) {

    .shoppingCard{
        display: flex;
        justify-content: start;
    }
}