.check{
    background: white;
    display: flex;
    justify-content: center !important;
}
.checkoutGrid{
    width: 90%;
    margin:50px 0 20px 0;
}
.checkoutText{
    font-weight: 500 !important;
    font-size: 30px !important;
}
.title{
    color: #d5865c !important;
}
.containergrid{
    width: 90% !important;
    margin:20px 0 40px 0;
}

.grid{
    margin:20px 0 40px 0;
}

.textField{
    width: 95% !important;
}
