.check{
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: center !important;
}
.checkoutGrid{
    width: 90%;
    margin:50px 0 20px 0;
}
.checkoutText{
    font-weight: 500 !important;
    font-size: 30px !important;
}
.title{
    font-size: 14px;
    letter-spacing: 1px;
    color: #d5865c !important;
}
.textfTitle{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.containergrid{
    width: 90% !important;
    margin:20px 0 40px 0;
}

.grid{
    margin:20px 0 10px 0;
}

.textField{
    width: 95% !important;
}
.textField.input{
    color: #D97C49;
}
