.product{
    width: 90% !important;
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
}
.productItemfirst{
    background: black;
    margin-bottom: 40px;
    border-radius: 10px;
}
.productItemSecond{
    background: linear-gradient(120deg, rgba(220,220,220,1) 12%,
    rgba(186,186,186,1) 100%);
    direction:rtl;
    margin-bottom: 40px;
    border-radius: 10px;

}
.productItemThird{
    display: flex;
    justify-content: space-between;

}
.productItemFourth{
    direction:rtl;
    margin-top:150px ;
}