.home{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(29,27,27,1) 31%, rgba(0,0,0,1) 47%);
    color: #fafafa;
    display: flex !important;
    justify-content: center !important;
    padding-top: 120px;
    padding-bottom: 80px;

}
@media only screen and (max-width: 900px) and (min-width:600px){
    .home{
        padding-bottom: 100px;
    }

}
@media only screen and (max-width: 600px) {
    .home{
        padding-bottom: 250px;
    }

}

.shop{
    background: white ;
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 80px;

}
.products{
    background:white;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    color:#fafafa ;
}